@use '../styles/variables' as *;

//* DATE CONTAINER
.dateContainer {
  font-family: $font-primary;
  color: $color-light-beige;
  display: flex;
  align-items: center;
}

.dateInput {
  font-family: $font-primary;
  color: $color-light-beige;
  width: 165px;
  font-size: 8rem;
  border: none;
  border-bottom: 2px solid $color-light-beige;
  text-align: center;
  outline: none; 
  margin-left: 3rem;
  padding-right: 1rem;
  background-color: transparent;
  
  -moz-appearance: textfield;
  -webkit-appearance: none;   
  appearance: none;  

  &:focus {
    border-bottom: 2px solid $color-light-beige;  
  }

  &::placeholder {
    color: $color-light-beige; 
    font-size: 5rem; 
  }
}

.dateInput::-webkit-inner-spin-button,
.dateInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.underline {
  font-size: 8rem;
  display: inline-block;
  text-align: center;
  margin-right: -3rem;
  border-bottom: 2px solid $color-light-beige;
}

.label {
  color: $color-light-olive;
}

//*LOADING
.loadingMessage {
  font-family: $font-primary;  
  font-size: 2rem;            
  font-weight: bold;           
  text-align: center;          
  margin-top: 50px;            
  color: $color-light-beige;   
  animation: pulse 1.5s infinite ease-in-out;  
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

  //*ERROR
  .errorMessage {
    font-family: $font-primary;  
    font-size: 1.5rem;           
    color: darkred;     
    text-align: center;         
    margin: 20px 0;              
    padding: 10px 20px;          
    border: 1px solid darkred; 
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 5px;          
    animation: fadeIn 0.5s ease-in; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
  .timeline {
    padding: 10px 0;
    margin-top: 3rem;
  }

  .timelineStart {
    width: 30px;
    height: 30px;
  }

  .timelineEvent {
    width: 90%; // Adjust width to fit mobile screen
    padding: 15px;
  }

  .timelineEvent:nth-child(odd) {
    margin-left: 0;
    text-align: left; // Center align for mobile
  }

  .timelineEvent:nth-child(even) {
    margin-right: 0;
    text-align: left; // Center align for mobile
  }

  .timelineEvent::before {
    width: 15px;
    height: 15px;
    border-width: 1px;
  }

  .timelineContent {
    width: 100%; // Full width for mobile
    text-align: left;
    padding: 0 10px;
  }

  .yearOdd, .yearEven {
    font-size: 1.2rem;
    text-align: left;
    margin: 0; // Remove extra margins
    top: 0;
  }

  .readMoreIcon {
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .scrollDownSection {
    margin-bottom: 1rem;
  }

  .loadingMessage {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .errorMessage {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 5px 10px;
  }

  .backToTop {
    bottom: 30px;
    right: 15px;
    width: 40px;
    height: 40px;
  }
}