@use '../../styles/variables' as *;

.header {
  position: relative;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  .headerImage {
    position: absolute;
    width: 100%;
    height: 600px;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .overlay {
    position: relative;
    padding: 30px;
    background-color: $color-dark-gray;
    text-align: center;
    color: $color-light-beige;
    border: 1rem solid $color-dark-brown;
    margin-top: 45rem;
    z-index: 11;

    @media (max-width: 768px) {
      margin-top: 10rem; 
      padding: 2rem; 
      border-width: 0.5rem; 
    }
  }

  .defaultTitle {
    font-family: $font-primary;
  }

  .defaultSubtitle {
    font-family: $font-secondary;
  }

  .todayPageTitle {
    font-size: 7rem;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    padding-bottom: 2rem;

    @media (max-width: 768px) {
      font-size: 4rem; 
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 1rem;
    }
  }

  .todayPageSubtitle {
    color: $color-light-olive;
    font-size: 2rem;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      font-size: 1.5rem; 
      margin-bottom: 1rem;
    }
  }

  .todayPageOverlay {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media (max-width: 768px) {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  .byDateTitle {
    color: $color-light-olive;
    font-size: 8rem;
    padding-bottom: 3rem;

    @media (max-width: 768px) {
      font-size: 4rem;
      padding-bottom: 1rem;
    }
  }

  .byDateSubtitle {
    color: $color-light-olive;
    font-size: 2rem;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      font-size: 1rem; 
      margin-bottom: 1rem;
    }
  }

  .byDateOverlay {
    padding-right: 8rem;
    padding-left: 8rem;

    @media (max-width: 768px) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  .sincePageTitle {
    font-size: 8rem;
    padding-bottom: 3rem;

    @media (max-width: 768px) {
      font-size: 4rem; 
      padding-bottom: 1.5rem;
    }
  }

  .sincePageSubtitle {
    color: $color-light-olive;
    font-size: 2rem;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      font-size: 1.5rem; 
      margin-bottom: 1rem;
    }
  }

  .sincePageOverlay {
    padding-right: 8rem;
    padding-left: 8rem;

    @media (max-width: 768px) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  .circleTopLeft,
  .circleTopRight,
  .circleBottomLeft,
  .circleBottomRight {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $color-light-beige;
    border-radius: 50%;

    @media (max-width: 768px) {
      width: 20px; 
      height: 20px;
    }
  }

  .circleTopLeft {
    top: 10px;
    left: 10px;
  }

  .circleTopRight {
    top: 10px;
    right: 10px;
  }

  .circleBottomLeft {
    bottom: 10px;
    left: 10px;
  }

  .circleBottomRight {
    bottom: 10px;
    right: 10px;
  }

  @media (max-width: 768px) {
    height: 400px; 
  }
}