@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap');

$color-light-beige:#FFE9BF;
$color-muted-gold: #D29E62;
$color-dark-brown: #695E48;
$color-light-olive: #C7BD8D;
$color-dark-gray: #1F1F1F;
$color-light-gray: #F5F5F5;

$font-primary: "Limelight", sans-serif;
$font-secondary: "Linden Hill", serif;